:root {
    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-size: 18px;
    --item-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    --input-shadow: 0 0 2px 0;
    --nav-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    --action-btn-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    --border-radius: 3px;
    --darkgray: rgb(94, 94, 94);
    --lightgray: rgb(173, 173, 173);
    // --primary-color: rgb(34, 131, 211);
    // --primary-color: rgb(19, 175, 223);
    --primary-color: rgb(1, 155, 109);
    // --primary-color: rgb(150, 69, 187);
    // --primary-color: rgb(226, 141, 29);
    // --primary-color: rgb(105, 168, 69);
    --nav-bg-color: white;

    --green: rgb(95, 223, 95);
    --yellow: gold;
    --red: tomato;

}

body {
    font-family: var(--font);
    font-size: var(--font-size);
    margin: 0;
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.quarter {
    width: 25%;
}


/******** CONTENT ********/
.content {
    margin: auto;
    padding: 20px;
    max-width: 800px;
}

@media only screen and (min-width: 500px) {
    .content {
        margin: auto;
    }
}

/************ LOADING CIRCLE *************/
#loading-overlay {
    position: relative;
    z-index: 20;
    #loadingcircle {
        z-index: inherit;
        position: fixed;
        top: 40vh;
        left: 50vw;
        height: 80px;
        width: 80px;
        margin-left: -40px;
        margin-top: -40px;
        animation: spin 1s infinite linear;
    }

    #loadingoverlay {
        z-index: inherit;
        background-color: rgba(0, 0, 0, 0.05);
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        animation: fadein var(--sec-animation-dur);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/******** NAVIGATION ********/
body {
    padding: 0 0 50px 0;
}

header {
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    color: var(--primary-color);
    z-index: inherit;
    margin: auto;
    background-color: var(--nav-bg-color);
    // border-radius: 25px;
    box-shadow: var(--nav-shadow);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    justify-content: space-evenly;

    .nav-item {
        height: 100%;
        user-select: none;
        background-color: inherit;
        width: 50%;
        justify-content: center;
        align-content: center;
        text-align: center;
        display: inline-block;

        div {
            color: inherit;
            height: 100%;
            text-decoration: none;
            line-height: 1px;
        }

        .material-icons {
            margin-top: 5px;
            font-size: 28px;
            height: 60%;
        }

        .item-label {
            height: 20%;
            display: block;
            font-size: 10px;
        }

        .notif-badge {
            display: inline;
            position: relative;
            top: -40px;
            right: -10px;
            padding: 0px 3px 1px 3px;
            font-size: 10px;
            border: solid 1px var(--nav-bg-color);

            border-radius: 10px;
            background-color: var(--red);
            color: white;
        }

        .menu-btn {
            .material-icons {
                height: 100%;
                line-height: 1.5;
            }
        }
    }

    .nav-item:hover {
        filter: brightness(0.95);
    }

    .nav-item:active {
        filter: brightness(0.9);
    }

    .floating-action-btn {
        z-index: 10;
        user-select: none;
        background-color: var(--primary-color);
        color: white;
        height: 60px;
        width: 60px;
        position: fixed;
        border-radius: 30px;
        bottom: 25px;
        text-align: center;
        box-shadow: var(--action-btn-shadow);

        .material-icons {
            line-height: 60px;
            font-size: 36px;
        }
    }

    .floating-action-btn:hover {
        filter: brightness(0.95);
    }

    .floating-action-btn:active {
        filter: brightness(0.9);
        box-shadow: none;
    }

    #menu-dark-overlay {
        animation: fadein 0.3s;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
}

@media only screen and (min-width: 500px) {
    body {
        padding: 0 0 0 80px;
    }

    nav {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        color: var(--primary-color);
        z-index: 10;
        margin: 0;
        background-color: var(--nav-bg-color);
        box-shadow: var(--nav-shadow);
        position: fixed;
        left: 0;
        width: 80px;
        height: 100%;

        .nav-item {
            transition: box-shadow 0.1s, filter 0.2s;
            margin: 0;
            height: 70px;
            width: 100%;
            text-align: center;
            padding: 3px 0 3px 0;

            .item-label {
                // display: none;
                font-size: 12px;
            }

            .notif-badge {
                display: inline;
                position: relative;
                top: -55px;
                right: -15px;
                padding: 0px 5px 2px 5px;
                font-size: 12px;
                border-radius: 10px;
                background-color: var(--red);
            }

            .material-icons {
                margin-top: 10px;
                font-size: 32px;
                height: 60%;
            }
        }

        .nav-item:active {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        }

        .nav-item:last-child {
            position: fixed;
            width: inherit;
            bottom: 0;
        }

        .floating-action-btn {
            left: 10px;
        }

    }

}


/******** BUTTONS ********/
.btn-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    // justify-content: center;

    .btn {}
}

.btn {
    user-select: none;
    color: white;
    background-color: var(--darkgray);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-size);
    border: none;
    border-radius: var(--border-radius);
    padding: 8px;
    margin: 5px 5px 5px 5px;
    outline: none;
    // box-shadow: var(--item-shadow);
    height: 42px;
    transition: filter 0.2s, box-shadow 0.1s;
    box-shadow: var(--item-shadow);
}

.btn:hover {
    filter: brightness(0.95);
}

.btn:active {
    box-shadow: none;
    filter: brightness(0.85);
}

.btn-primary {
    color: white;
    background-color: var(--primary-color);
    border: solid 1px var(--primary-color);
}

.btn-secondary {
    background-color: white;
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    box-shadow: none;
}

.btn-warn {
    color: white;
    background-color: var(--red);
    border: solid 1px var(--red);
}

.btn-icon {
    width: 42px;
    transform: translateY(5px);
    border-radius: 22px;
}


/********* FORMS *********/
form {
    // max-width: 600px;
    // margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
    height: 0;
}

/********* INPUTS *********/
input {
    appearance: none;
    transition: box-shadow 0.1s;
    font-size: var(--font-size);
    padding: 8px;
    margin: 5px 5px 5px 5px;
    border-radius: var(--border-radius);
    border: solid 1px var(--lightgray);
    flex: 1;
    min-width: 100px;
}

input:focus {
    outline: none;
    border: solid 1px var(--primary-color);
    box-shadow: var(--input-shadow) var(--primary-color);
}

.input-btn-container {
    width: 100%;
    display: flex;

    input {}

    .input-btn {
        margin: 0;
        transform: translateY(3px);
    }
}


/*********** LIST *************/
.list-unstyled {
    flex: 1;
    padding: 0;
    list-style: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--lightgray);
}

.list-styled {
    flex: 1;
    padding-left: 35px;
    border-radius: var(--border-radius);
    border: 1px solid var(--lightgray);
}

.list-item {
    // display: flex;
    padding: 10px;
    border-bottom: 1px solid var(--lightgray);

    button {
        // display: inline-block;
        // float: right;
    }
}

.list-item:last-child {
    border: none;
}

/************ CARDS *************/
.card-show {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    flex: 2;
    user-select: none;
    transition: filter 0.3s;
    margin: 10px 10px 10px 10px;
    box-shadow: var(--item-shadow);
    border-radius: var(--border-radius);
    min-width: 250px;
    display: block;
    background-color: white;
    padding: 10px;
    flex: 1;

    .card-img {
        text-align: center;

        img {
            text-align: center;
            object-fit: cover;
            // width: 100%;
            max-width: 100%;
            max-height: 250px;
            margin-bottom: 0;
        }
    }

    .card-txt {
        margin-top: 0;
        background-color: inherit;
        color: black;
        padding: 5px;
        text-align: center;
        align-items: center;
    }

    .card-txt-desc {
        opacity: 0.8;
        padding: 5px;
        font-size: 0.8em;
    }
}

.dummy-card {
    flex: 2;
    user-select: none;
    margin: 0 10px 0 10px;
    max-width: 360px;
    min-width: 250px;
    background-color: white;
    padding: 0 10px 0 10px;
    font-weight: 300;
    text-align: center;
    flex: 1;
}

.card:hover {
    // box-shadow: 0px 0px 0px 2px var(--primary-color);
}


/*********** SECTIONS ************/
.section {
    width: calc(100% - 20px);
    flex: 1;
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 20px 0 20px 0;
    box-shadow: var(--item-shadow);
}



/********** SIGNALS ***********/
.signal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .signal {
        margin: 10px 10px 30px 10px;
        border: solid 4px;
        border-radius: 50%;
        height: 90px;
        // min-height: 50px;
        width: 90px;
        // min-width: 50px;

        .value {
            text-align: center;
            line-height: 90px;
            font-size: 20px;
        }

        .label {
            font-size: 15px;
            line-height: 1;
            padding: 5px;
            text-align: center;
            color: black;
            text-overflow: wrap;
        }
    }
}

.green {
    border-color: var(--green);
    color: var(--green);
}

.yellow {
    border-color: var(--yellow);
    color: var(--yellow);
}

.red {
    border-color: var(--red);
    color: var(--red);
}


/*********** SCROLL BAR **************/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary-bgd-color-dark);
    // box-shadow: inset 0 0px 2px rgba(0, 0, 0, 0.253);
}

::-webkit-scrollbar-thumb {
    background: var(--lightgray);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {}


/************ COLORS *************/



/************ ANIMATIONS *************/
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}