<header>
    <nav>
        <div class="nav-item" id="dashboard_btn">
            <div>
                <i class="material-icons">dashboard</i>
                <div class="item-label">Dashboard</div>
            </div>
        </div>
        <div class="nav-item" id="settings_btn">
            <div>
                <i class="material-icons">settings</i>
                <div class="item-label">Settings</div>
            </div>
        </div>
        <!-- <div class="nav-item">
                <div class="menu-btn">
                    <i class="material-icons">menu</i>
                </div>
            </div> -->

        <div id="add-log-btn" class="floating-action-btn"><i class="material-icons">add</i></div>
        <div id="menu-dark-overlay"></div>
    </nav>
</header>